<footer>
  <div class="info">
    <div class="f-social-links">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; MnM Rice Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="">Terms and Conditions</a>
    </div>
  </div>
</footer>
