<nav class="navbar navbar-expand-md bg-body-white border-bottom sticky-top">
  <img
    src="https://mail.google.com/mail/u/0/?ui=2&ik=3632c1fb24&attid=0.1&permmsgid=msg-a:r1138314221810495333&th=18f5ce8eb6f30f3a&view=fimg&realattid=f_lvz3zi0o0&disp=thd&attbid=ANGjdJ_n67kEGKBYvnvjNEPcJEo4gSBPGe8KeuvvAhDmdcqBI6DAwUiJzxv9PTr-T2CgeynYXN77yu-NoJhncwE0zx1_mBIK9GnPduRd6hg1tJwGq23q65O17fW2lhU&ats=2524608000000&sz=w1318-h654"
    alt=""
    class="logo"
  />
  <a class="navbar-brand brandname" href="#">MnM Rice</a>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All Products</a>
        <a class="nav-link" href="/listings/new">Add New Product</a>
        <a class="nav-link" href="/customers">Our Customers</a>
        <a class="nav-link" href="/customers/new">Add new Customers</a>
        <a class="nav-link" href="/orders">Orders</a>
      </div>
    </div>
  </div>
</nav>
